@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.App {
  text-align: center;
  width: 500px;
  height: 500px;
  background-color: #2546dbb2;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(240, 234, 234);
  margin: 150px auto;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: 'Architects Daughter', cursive;
}

input {
  height: 20px;
  padding: 10px 30px;
  border-radius: 40px;
  border: none;
}

ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

li {
  padding: 5px 20px;
  width: 350px;
  border-radius: 20px;
  background-color: #ffffff;
  list-style-type: none;
  text-align: start;
  border-top: 2px solid #ffffff;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: .7px;
  color: black;
}

button {
  border: none;
  letter-spacing: 2px;
  padding: 3px 18px;
  color: #333;
  font-size: 16px;
  transition: .3s;
  margin: 10px 0;
  background-color: #9aaaf3b2;
  color: white;
  border-radius: 20px;
  padding: 7px 25px;
  cursor: pointer;
}

button:hover {
  color: #4966e6b2;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}